{% extends 'main/base.html' %}
{% load static %}
{% block title %}Workflow Design{% endblock %}

{% block head %}
  <script type="text/javascript">
    const NODES = {{ workflow.get_nodes|safe }};
  </script>
  <script type="text/javascript" src="{% static 'main/js/bezier.js' %}"></script>
  <script type="text/javascript" src="{% static 'tracker/js/design_workflow/milestone.js' %}"></script>
  <script type="text/javascript" src="{% static 'tracker/js/design_workflow/design_workflow.js' %}"></script>
  <link rel="stylesheet" href="{% static 'tracker/css/design_workflow.css' %}">
{% endblock %}

{% block content %}
  <div id="main_container">
    <div class="title">
      Workflow designen
    </div>
    <div id="content_container">
      <div id="node_container">
        <svg id="svg" xmlns="http://www.w3.org/2000/svg">
        </svg>
      </div>
      <div id="milestone_container">
        {% for milestone in milestones %}
        <div class="milestone noselect" data-milestone_id="{{ milestone.id }}">
          <div class="milestone_name">
            {{ milestone.name }}
          </div>
          <div class="milestone_duration">
            {{ milestone.hours }} Stunden
          </div>
          <div class="milestone_department">
            {{ milestone.department.name }}
          </div>
          <span class="dot left"></span>
          <span class="dot right"></span>
        </div>
        {% endfor %}
        {# Hier kommen milestones rein und können auch custom welche gemacht werden #}
      </div>
    </div>
    <div id="button_container">
      <div class="button" id="btn_save">
        Speichern
      </div>
    </div>
  </div>
  <div hidden>
    <div class="milestone noselect" id="milestone_js_template">
      <div class="milestone_name"></div>
      <div class="milestone_duration"></div>
      <div class="milestone_department"></div>
      <span class="dot left"></span>
      <span class="dot right"></span>
    </div>
  </div>
{% endblock %}

{% block forms %}
<form action="{% url 'tracker:design_workflow' campaign.id %}" method="post" id="data_form" hidden>
  {% csrf_token %}
  <input type="text" name="data" id="form_data_input">
</form>
{% endblock %}
