{% extends 'main/base.html' %}
{% load static %}

{% block title %}Overview{% endblock %}
{% block head %}
   <link rel="stylesheet" href="{% static 'tracker/css/overview.css' %}">
   <script type="text/javascript" src="{% static 'tracker/js/overview.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="main_container">
    <div class="title" style="grid-area: task_title;">
      Bald fällige Aufgaben
    </div>
    <div id="task_container">
      {% for task in active_tasks %}
        <div class="task_container" data-task_id="{{ task.id }}">
          <div class="task_client">
            {{ task.client.name }}
          </div>
          <div class="task_due_date">
            {{ task.due_date_string }}
          </div>
          <div class="task_name">
            {{ task.milestone.name }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="title" style="grid-area: campaign_title">
      Aktive Kampagnen
    </div>
    <div id="active_campaign_container">
      {% for campaign in campaigns %}
        {% if campaign.is_active %}
          <div class="active_campaign" data-campaign_id="{{ campaign.id }}">
            <div class="campaign_client">
              {{ campaign.client.name }}
            </div>
            <div class="campaign_name">
              {{ campaign.name }}
            </div>
            <div class="campaign_runtime">
              {{ campaign.runtime_string }}
            </div>
            <div class="campaign_budget">
              € {{ campaign.daily_budget }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div id="client_title">
      <div class="title" style="grid-column: 2">
        Kampagnen-Übersicht
      </div>
      <img src="{% static 'tracker/images/new_icon.png' %}" id="new_icon">
    </div>
    
    
    <div id="campaign_container">
      {% for campaign in campaigns %}
        <div class="campaign" data-campaign_id="{{ campaign.id }}">
          <div class="title">{{ campaign.name }}</div>
          <div class="badge" style="background-color:{{ campaign.status_color }}"></div>
          <div class="text small">{{ campaign.client.name }}</div>
          <div class="hard_sep"></div>
          <div class="text">{{ campaign.date_string }}</div>
          {% if not campaign.is_active %}
            <div class="text">Dauer: {{ campaign.days }} Tage</div>
          {% endif %}
          <div class="sep"></div>
          <div class="text">Gesamtbudget: {{ campaign.budget }}€</div>
          <div class="text">Restbudget: {{ campaign.budget_left|floatformat:2 }}€</div>
          <div class="footer">
            <div class="data footer_option">Daten</div>
            <div class="workflow footer_option">Workflow</div>
          </div>
          {% if not campaign.workflow.is_finalized %}
            <div class="status">
            </div>
          {% endif %}
        </div>
      {% empty %}
        Keine Kampagnen gefunden
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block forms %}
  <form action="{% url 'tracker:overview' %}" method="post" hidden id="form">
    {% csrf_token %}
    <input type="text" name="action" id="input_action">
    <input type="text" name="destination" id="input_destination">
    <input type="text" name="campaign_id" id="input_campaign_id">
    <input type="text" name="client_id" id="input_client_id">
    <input type="text" name="task_id" id="input_task_id">
  </form>
{% endblock %}
