{% extends 'main/base.html' %}
{% load static %}

{% block title %}Workflow bearbeiten{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'tracker/css/workflow.css' %}">
  <script type="text/javascript" src="{% static 'tracker/js/workflow/canvas.js' %}"></script>
  <script type="text/javascript" src="{% static 'tracker/js/workflow/milestone_container.js' %}"></script>
  <script type="text/javascript">
    const VALUES = {
      'workflow': {{ workflow.to_json|safe }},
      'tasks': {{ workflow.tasks_to_json|safe }},
      'start_date': new Date({{ start_date }}),
      'end_date': new Date({{ end_date }}),
      'departments': {{ departments|safe }}
    };
  </script>
  <script type="text/javascript" src="{% static 'tracker/js/workflow/workflow.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="main_container">
    <div id="client_container">
      <div id="client_name" class="name">
        {{ client.name }}
      </div>
      <div id="campaign_name" class="name">
        {{ campaign.name }}
      </div>
      <div class="name">
        {{ campaign.runtime_string }}
      </div>
      <div>
        <div class="button noselect" id="btn_edit_campaign" onclick="edit_campaign()">
          Kampagne bearbeiten
        </div>
      </div>
      {# Hier gibt es dann noch allgemeine Infos zum Kunden und zur Kampagne #}
    </div>
    <div class="workflow_title" style="grid-area: workflow_title">
      Aktiver Workflow
    </div>
    <img src="{% static 'tracker/images/settings_icon.png' %}" id="settings" onclick="open_design()">
    <img src="{% static 'tracker/images/open_folder.png' %}" id="open_folder" onclick="open_template()">
    <div id="workflow_container">
      <canvas id="workflow_date_canvas" class="date_canvas" width="800px" height="50px"></canvas>
      <canvas id="workflow_canvas" class="timeline_canvas" height="360px"></canvas>
    </div>

    {% if workflow.is_started %}
      <div class="workflow_title" style="grid-area: task_title">
      Aktive Aufgabe
    </div>
    <div id="active_task_container">
      {% for task in active_tasks %}
      <div class="active_task_container">
        <div class="active_task_text" style="grid-area: name;">
          {{ task.milestone.name }}
        </div>
        <div class="active_task_text" style="grid-area: date">
          {{ task.date_string }}
        </div>
        <div class="button active_task_button noselect{% if task.assigned_user != user %} disabled{% endif %}" style="grid-area: button" data-task_id="{{ task.id }}">Abschließen</div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <div class="button_container" style="grid-area: task_title">
        <button type="button" name="button" onclick="btn_start_workflow_click()">Workflow starten</button>
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block forms %}
  <form action="{% url 'tracker:workflow' campaign.id %}" method="post" hidden id="post_form">
    <input type="text" name="action" id="post_form_action"> {# START_WORKFLOW, FINISH_TASK, OPEN_DESIGN, EDIT_CAMPAIGN #}
    <input type="text" name="task_id" id="post_form_task_id">
    {% csrf_token %}
  </form>
{% endblock %}
