{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TITLE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <script type="text/javascript">
      const OVERVIEW_URL = "{% url 'tracker:overview' %}";
    </script>
    <script type="text/javascript" src="{% static 'main/js/base.js' %}"></script>
    {% block head %}{% endblock%}
  </head>
  <body>
    <div id="base_header">
      <img src="{% static 'main/images/house.png' %}" id="house">
      <img src="{% static 'main/images/campagion_logo.png'%}" id="logo">
      <img src="{% static 'main/images/exit_icon.png' %}" id="exit">
    </div>
    <div id="base_main_container">

      <div id="base_content_container">
        {% block content %}

        {% endblock %}
      </div>
    </div>
    <div hidden>
      {% block forms %}

      {% endblock %}
      <form action="{% url 'main:post_handler' %}" method="POST" id="base_form" hidden>
        {% csrf_token %}
        <input type="text" name="action" id="input_action">
      </form>
    </div>
  </body>
</html>
