{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TITLE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <script type="text/javascript">
      const OVERVIEW_URL = "{% url 'tracker:overview' %}";
    </script>
    <script type="text/javascript" src="{% static 'main/js/base.js' %}"></script>
    {% block head %}{% endblock%}
  </head>
  <body>
    <div id="base_header">
      {% if ACTIVE_MODULE is not None %}
        <a href="{% url ACTIVE_MODULE.home_view %}"><img src="{% static 'main/images/house.png' %}" id="house"></a>
      {% endif %}
      <a href="{% url 'main:index' %}"><img src="{% static 'main/images/campagion_logo.png'%}" id="logo"></a>
      <img src="{% static 'main/images/exit_icon.png' %}" id="exit">
    </div>
    <div id="base_main_container">
        {% block content %}

        {% endblock %}
    </div>
    <div hidden>
      {% block forms %}

      {% endblock %}
      <form action="{% url 'main:post_handler' %}" method="POST" id="base_form" hidden>
        {% csrf_token %}
        <input type="text" name="action" id="base_input_action">
      </form>
    </div>

    {% if 'popup_title' in FILLED_BLOCKS or 'popup_content' in FILLED_BLOCKS %}
    <div id="popup_background" style="display: none;">
      <div id="popup_window">
        <div id="popup_title">{% block popup_title %}Test-Title{% endblock %}</div>
        <div id="popup_closer" class="noselect">X</div>
        <div id="popup_content">{% block popup_content %}Test-Content{% endblock %}</div>
      </div>
    </div>
    {% endif %}

    {% if messages %}
    <div id="message_container">
      {% for message in messages %}
        <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
