{% extends 'main/base.html' %}
{% load static %}

{% block title %}Kundenzone{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/clients.css' %}">
    <script>
        function new_client() {
            document.getElementById('new_client_form').submit();
        }
        function perform_search(value) {
            const clients = document.getElementsByClassName('client');

            for (let client of clients) {
                const name = client.dataset.name.toLowerCase();
                if (name.includes(value.toLowerCase())) {
                    client.style.display = "";
                } else {
                    client.style.display = "none";
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="main_container">
        <div class="title" style="grid-area: title;">
            Kundenzone
        </div>
        <div id="search_bar">
            <div id="search_wrapper">
                <label for="search_input">Suche:</label>
                <input type="text" id="search_input" onkeyup="perform_search(this.value)">
            </div>
        </div>
        <img src="{% static 'tracker/images/new_icon.png' %}" id="add_client" onclick="new_client()" width="32px">
        <div id="client_container">
            {% for client in clients %}
                <div class="client" data-name="{{ client.name }}">
                    <div class="name">{{ client.name }}</div>
                    <div class="data">{{ client.contact_name|default:"" }}</div>
                    <div class="data">{{ client.phone|default:"" }}</div>
                    <div class="data">{{ client.email|default:"" }}</div>
                    {% if client.relevant_campaigns|length != 0 %}
                        <div class="subtitle">Kampagnen</div>
                        <div class="sep"></div>
                    {% endif %}
                    
                    {% for campaign in client.relevant_campaigns %}
                    <a href="{% url 'main:edit_campaign' campaign.id %}"><div class="campaign">{{ campaign.name }}</div></a>
                    {% endfor %}
                    <div class="edit">
                        <a href="{% url 'main:edit_client' client.id %}">
                            <img src="{% static 'tracker/images/settings_icon.png' %}" width="35px" height="35px">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block forms %}
    <form action="{% url 'main:new_client' %}" id="new_client_form"></form>
{% endblock %}