{% extends 'main/simple_form.html' %}

{% block additional_form %}
    <div id="department_inputs">
        <table style="margin-top: 10px;">
            {% for department in departments %}
            <tr>
                <td>Verantwortlich für {{ department.name }}:</td>
                <td><select name="department_{{ department.id }}">
                    <option value disabled selected>--- Person auswählen ---</option>
                    {{ selection_source|safe }}
                </select></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}