{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ class_name }} {% if new %}erstellen{% else %}bearbeiten{% endif %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'main/css/simple_form.css' %}">
  <script>
    function submit_form() {
      document.getElementById('simple_form').submit();
    }
  </script>
{% endblock %}

{% block content %}
<div id="main_container">
  <div class="title">
    {{ class_name }}
  </div>
  <div id="form_container">
    <form action="{{ url }}" method="post" {% if with_uploads %}enctype="multipart/form-data"{% endif %} id="simple_form">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      {% block additional_form %}

      {% endblock %}
    </form>
  </div>

  <div id="button_container">
    <div class="button noselect" onclick="submit_form()">Absenden</div>
  </div>
  {% if 'left' in FILLED_BLOCKS %}
    <div id="left">
      {% block left %}{% endblock %}
    </div>
  {% endif %}
  {% if 'right' in FILLED_BLOCKS %}
    <div id="right">
      {% block right %}{% endblock %}
    </div>
  {% endif %}
</div>
{% endblock %}
