{% extends 'main/base.html' %}

{% block title %}{{ class_name }} {% if new %}erstellen{% else %}bearbeiten{% endif %}{% endblock %}

{% block head %}
<!-- meta css reference -->
{% endblock %}

{% block content %}
<div class="title">
  {{ class_name }}
</div>
<form action="{{ url }}" method="post" {% if with_uploads %}enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div style="text-align: center; margin: 10px;">
    <input type="submit">
  </div>
</form>
{% endblock %}
