/* global verwendete Klassen */
*{
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(70, 119, 214, 0.85);
  color: #f9f9f9;
  text-align: center;
  line-height: 50px;
  transition: all 0.15s ease-in-out;
  margin: auto;
}
.button:not(.disabled):hover {
  cursor: pointer;
  background-color: rgba(26, 159, 224, 0.92);
}
.button.disabled {
  background-color: darkgray;
}

/* Für die Bezier curve */
.bezier_control_point {
  position: absolute;
  background-color: #ff6c3d;
  height: 7px;
  width: 7px;
  border-radius: 7px;
}

/* Für base.html: */


#base_main_container {
  padding-left: 20px;
  padding-right: 20px;
}
#base_header {
  text-align: center;
  height: 75px;
  position: sticky;
  background-image: linear-gradient(90deg, rgba(36, 50, 101, 0.92) 0%, rgba(26, 181, 224, 0.92) 100%);
}
img#logo {
  margin-top: 5px;
  height: 65px;
  margin-bottom: 5px;
}
img#logo:hover {
  cursor: pointer;
}
img#house {
  width: 80px;
  height: 80px;
  left: 20px;
  position: absolute;
}
img#exit {
  width: 80px;
  height: 80px;
  right: 20px;
  position: absolute;
  filter: opacity(0.8);
}

img#exit:hover, img#house:hover {
  cursor: pointer;
}

path.selected {
  stroke: #1c2efc;
  stroke-width: 3px;
}

#popup_background {
  background-color: rgba(48, 48, 48, 0.8);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popup_window {
  width: 500px;
  min-height: 200px;
  background-color: rgb(215, 240, 244);
  opacity: 1;
  border: 10px solid #0b99bd;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
#popup_title {
  height: 30px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
#popup_closer {
  width: 30px;
  height: 30px;
  background-color: #fa7676;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
#popup_closer:hover {
  cursor: pointer;
  filter: brightness(130%);
}


#message_container {
  position: fixed;
  right: -500px;
  top: 100px;
  height: 100vh;
}
.message {
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  margin-top: 10px;
}
.message.success {
  background-color: #30e009;
}
.message.info {
  background-color: #09e0cb;
}
.message.error {
  background-color: #ff0055;
}
.message.warning {
  background-color: #ecf23f;
}
a {
  color: black;
  text-decoration: none;
}