#main_container {
    display: grid;
    grid-template-rows: 40px 40px 1fr;
    grid-template-columns: 40px 1fr 40px;
    grid-template-areas: 
    ". title add"
    "search search search"
    "content content content";
}
#search_bar {
    grid-area: search;
}
#search_wrapper{
    float: right;
}
#search_bar input {
    width: 300px;
    font-size: 12px;
    margin-right: 5px;
    padding: 2px 4px;
}

#client_container {
    grid-area: content;
    background-color: #d7f0f4;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.client {
    width: 300px;
    min-height: 200px;
    background-color: #4eddff;
    border-radius: 15px;
    box-shadow: 0px 1px 5px black;
    transition: 0.15s all ease-in-out;
    margin: 15px;
    padding-bottom: 10px;
    position: relative;
}
.client .name {
    font-size: 24px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.client .data, .client .campaign {
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.client .sep {
    height: 1px;
    background-color: black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.client .subtitle {
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.client .campaign {
    background-color: #40cef1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 5px;
}
.client .campaign:hover {
    cursor: pointer;
    background-color: #3abddd;
}
.client .edit {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 3px;
    margin-top: 3px;
}
.client .edit:hover {
    cursor: pointer;
}
#add_client {
    grid-area: add;
    margin: 5px;
}
#add_client:hover {
    cursor: pointer;
}